<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>product uploading</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- fevicon -->
    <link rel="icon" href="{% static "images/fevicon.png" %}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="{% static 'css/f_upload.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body class="main-layout ">
 
  <div class="form" >
    <div class="title">Ujwal Vyavasay</div>
    <div class="subtitle">Lets start sale</div>
    <div class="input-container ic1">
      <input id="firstname" class="input" type="text" placeholder=" " />
      <div class="cut"></div>
      <label for="firstname" class="placeholder">Full name</label>
    </div>
    <div class="input-container ic2">
      <input id="Phone Number" class="input" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="Phone Number" class="placeholder">Phone Number</>
    </div>
    <div class="input-container ic2">
      <input id="Product name" class="input" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="product name" class="placeholder">product name</>
    </div>
    <div class="input-container ic2">
      <input id="Price" class="input" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="Price" class="placeholder">price</label>
    </div>
    <div class="input-container ic2">
      <input id="Quantity" class="input" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="Quantity" class="placeholder"> Max Quantity</>
    </div>
    <div class="input-container ic2">
      <input id="time" class="input" type="text" placeholder=" " />
      <div class="cut cut-short"></div>
      <label for="time" class="placeholder">Crop arrival Time</label>
    </div>
    <div class="input-container ic2"> <div class="upload-btn-wrapper">
      <button class="btn">Upload a product image</button>
      <input type="file" name="myfile" />
    </div> </div>
    <button type="text" class="submit"  value="upload.png" name="submit ">submit</button>
  </div>
</section>
  </body>
</html>